<%- include('./partials/head.ejs') %>
   
<%- include('./partials/nav.ejs') %>
 <div class="blogs content">
     <h2>All <span class="neew">Blogs</span> </h2>

     <%
         if(blog.length > 0){ %>
             <% blog.forEach(blog =>{ %>
                 <h3 class="title"> <%= blog.title %></h3>
                 <a href="/blog/update/<%=blog.id%>">
                     Edit
                 </a>
                 <a href="/blog/update/<%=blog.id%>">
                    Delete
                </a>
                 <p class="snippet"><%= blog.body %></p>
             <% })  %>
         
    <% } else { %>
             <h6>No blogs!</h6>
     <% } %>

 </div>

<%- include('./partials/footer.ejs') %>
